// 1. Colors
//-------------------------------------------------
$color-black: #000 !default;
$color-black-default: #333333 !default;
$color-black-secondary: #424242 !default;
$color-grey: #72757e !default;
$color-light-text-gray: #828282 !default;
$color-white: #fff !default;
$color-primary: #2f80ed !default;
$color-primary-dark: #204062 !default;
$color-blue: #e8ecf3 !default;
$color-error: #f5222d !default;
$color-danger: #c82f4b !default;
$color-primary-light: #8ec7e3 !default;

// Background
$background-white: #fff !default;
$background-blue: #e8ecf3 !default;
$background-section: #f8f9fb !default;
$background-primary: #2f80ed !default;

